:root{ --vermelho: #A62D37;
    --rose: #A64951;
    --dourado: #DBAD38;
    --ambar: #D98B48;
    --borgonha: #4B1919;
    --bg: #F5F0EE;
    --wire: #C4B5B0;
    --wire-light: #E2D8D5;
    --text: #2A1A1A;
    --backgroundbtnlight: #8A6F6A;
    --preto:rgb(15, 0, 0); 
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body, section{
        color: var(--text);
        background-color: var(--bg);
}


.secao_vermelha{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--bg);
    background-color: var(--rose);
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    height: 50vh;
    text-align: center;
}
.secao_bege{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text);
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    height: 80vh;
    padding: 300px 0px;
}
.emparelhamento{
    display: flex;
    flex-direction: row;
    gap: 50px;
   justify-content: space-evenly;
}
.formulario{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    width: 80%;
    padding: 20px;
    background-color: var(--wire-light);
    border-radius: 20px;
}
.formulario input{
    text-align: center;
    padding: 10px;
    border: var(--wire) 1px solid;
    border-radius: 20px;
    width: 40vw;

}
.card{
    background-color: var(--wire-light);
    width: 35vmin;
    height:20vmax;
    border: #DBAD38 1px solid;
    border-radius: 10px;
    text-align: center;
    justify-content: space-evenly;
    font-size: medium;
    display: flex;
    flex-direction: column;
}
.linha{
    border: none;
    border-radius: 10px;
    height: 3px;
    background-color: var(--dourado);
    margin: 5px 0;
    width: 80px;
}
header, footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    background-color: var(--vermelho);

}

footer img {
    width: 75px;
}

header button, header a{
    color: var(--text);
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
}
ul{
    font-family: "playfair-display", serif;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

header button:hover, header a:hover{
    transition:0.5s;
    background-color: var(--wire-light);
    border-radius: 20px;
}

#corpo{
    justify-items: center;
}
#apadrinhar {
    background-color: var(--rose);
    border: var(--wire-light) 2px solid;
    border-radius: 30px;
    padding: 10px;

}
#apadrinhar:hover{
    background-color: var(--wire-light);
    color: var(--preto);
    transition: 0.3s;
}
li{
    display: inline;
}

#logo{
    width: 100px;
}
h1{
    text-align: center;
}

header, footer{
    padding: 20px;
}
.legenda{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.btn-dourado{
    background-color: var(--dourado);
    border: none;
    color: var(--text);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 30px;
}

.btn-dourado:hover{
    background-color: var(--ambar);
    color: var(--text);
    transition: 0.3s;
}

.btn-semcor{
    background-color: var(--backgroundbtnlight);
    border: none;
    color: var(--text);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 40px;
}
.btn-semcor:hover{
    background-color: var(--wire-light);
    color: var(--preto);
    transition: 0.3s;
}   

#corpo-projetos{
    font-family: "playfair-display", serif;
    color: var(--ambar);
    padding: 20px 0 20px 0;
    background-color: var(--rose);
}

#projetos{
    font-size: 40px;
    background-color: var(--borgonha);
}
.img-estante{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
}

#estante-fotos{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.img-estante:hover{
    transform: scale(1.05);
    transition: 0.3s;

}
.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 1s ease forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}